

<div *ngIf="status == 'success'" class="alert alert-success mt-3" role="alert">
   Codigo creado exitosamente!
</div>

<div class="alert alert-danger mt-3" *ngIf="status == 'error'" role="alert">
    {{mgs}}
</div>

<div class="mt-3"  style="width: 50%;" >
    <h4>Opciones de entrada de datos</h4>
    <hr>

        <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" (click)="mode($event)" name="btnradio" id="manual" autocomplete="off">
            <label class="btn btn-outline-primary" for="manual">Entrada manual</label>
        
            <input type="radio" class="btn-check"  (click)="mode($event)" name="btnradio" id="upfile" autocomplete="off">
            <label class="btn btn-outline-primary" for="upfile">Subir archivo</label>
        
        
        </div>

        <!-- Subir archivo -->

    <div *ngIf="changer == 'upfile'">
        <h4>Cargar Archivo Excel</h4>
        <input class="form-control" type="file" (change)="onFileChange($event)" accept=".xlsx, .xls, .csv">
        <button (click)="processFile()" class="btn btn-success mt-2">Procesar Archivo</button>
    </div>
    
            <!-- Fin Subir archivo -->
    
    <form #grupoForm="ngForm" *ngIf="changer == 'manual'" (ngSubmit)="onSubmit(grupoForm)">
    
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Codigo:</span>
            <input type="text" class="form-control" #codigo="ngModel" [(ngModel)]="codigox" name="codigo" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
        </div>
    
        <input type="submit" class="btn btn-success" value="Crear grupo" [disabled]="!grupoForm.valid">
    
    
    
    </form>

   
    <div class="mt-4">
     
       
       
        <div style="display: block;">
            <h4>Codigos existentes</h4>
            <hr>
                <p>Haz click en el codigo que desees para crear un nuevo aspirante.</p>
        </div>
     
    
        <div class="d-flex">

            <div class="femaleTable">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Femenino</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let codigosF of female; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>
                                <a [routerLink]="['/panel/nuevo-aspirante/',female[i].codigo]">{{ codigosF.codigo}}</a> </td>
                            <td>{{ codigosF.total}}</td>
    
                        </tr>
    
                    </tbody>
                </table>
            </div>


            <div class="maleTable ms-5">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Masculino</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let codigosM of male; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td><a [routerLink]="['/panel/nuevo-aspirante/',male[i].codigo]">{{ codigosM.codigo}}</a></td>
                            <td>{{ codigosM.total}}</td>
                
                        </tr>
                
                    </tbody>
                </table>
            

            </div>
        </div>
      
    
    </div>
  
</div>


